/*Topbar*/

/**/
.topbar{
    width: 100%;
    height: 50px;
    background-color: #E9C46A;
    position: sticky;
    top: 0;
    z-index: 999;
}

/**/
.topbarWrapper{
    height: 100%;
    padding:0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Left Side*/
/*Logo in the top left side*/
.logo{
    font-weight: bold;
    font-size: 30px;
    color: #264653;
    cursor: pointer;
}

/*Right Side, User Profile, Settings, Notifications */
.topRight{
    display: flex;
    align-items: center;
}

.topIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: black
}

/*Notification Icon in the top Right Side*/
.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

/*Profile Picture*/
.topProfile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

